.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;;
}
.tab{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.table, .td{
  /* border: 0.1px solid black; */
  width: auto;
  padding: 0.5rem;
}
.th{
  /* border: 0.1px solid black; */
  width: auto;
  padding: 0.5rem;
text-align: left;
}
.tr:nth-child(even){
  background-color: #f2f2f2;
}